{% extends 'layout.html' %}

{% from 'buys/_form.html' import render_form %}

{% block title %}
  {{ '.sparepart_incoming'|t }}
{% endblock %}

{% block body %}
  <p>
    {{ primary_link(url_for('.index'), text='.incomings_list', size='large') }}
  </p>
  {{ form_header(form, legend='.sparepart_incoming') }}
  <table width="100%">
    <tr><td colspan="4"><br /></td></tr>
    {{ render_form(form, kind='1') }}

    {{ form_field(form.good, tr_start=true) }}
    {{ form_field(form.bad, tr_end=true) }}

    {{ form_field(form.remark, tr_end=true, tr_start=true, colspan=4) }}
  </table>
  {{ submit_field(submit='submit', url=url_for('.index')) }}
  {{ form_footer() }}
{% endblock %}

{% block js %}
  {{ js_date(['date']) }}
  {{ js_code() }}
  {{ js_check_date('date', 'date-error') }}
  {{ js_autocomplete(id='code_text', kind='1') }}
{% endblock %}