{% extends 'notifications/base.html' %}
{% from 'helpers.html' import table_header, table_footer %}

{% block body %}
  <p>
    <h2>
    {% if tf.is_sparepart %}
      {{ 'notifications.sparepart_transfer_out'|t }}
    {% else %}
      {{ 'notifications.equipment_transfer_out'|t }}
    {% endif %}
    </h2>
  </p>
  {{ table_header(['details'], use_index=false, colspan=2) }}
  <tr>
    <th>{{ 'buys.record_user'|t }}</th>
    <td>{{ tf.login }}</td>
  </tr>
  <tr>
    <th>{{ 'transfers.handle_user'|t }}</th><td>{{ tf.user }}</td>
  </tr>
  <tr>
    <th>{{ 'transfers.transfer_date'|t }}</th><td>{{ tf.date }}</td>
  </tr>
  <tr>
    <th>{{ 'transfers.from_where'|t }}</th><td>{{ tf.asset.from_where }}</td>
  </tr>
  <tr>
    <th>{{ 'transfers.to_where'|t }}</th><td>{{ tf.asset.to_where }}</td>
  </tr>

  {% if tf.is_sparepart %}
    <tr>
      <th>{{ 'spareparts.code'|t }}</th><td>{{ asset.code }}</td>
    </tr>
    <tr>
      <th>{{ 'name'|t }}</th><td>{{ tf.name }}</td>
    </tr>
    <tr>
      <th>{{ 'description'|t }}</th><td>{{ asset.desc }}</td>
    </tr>
    <tr>
      <th>{{ 'good_qty'|t }}</th><td>{{ tf.asset.good }}</td>
    </tr>
    <tr>
      <th>{{ 'bad_qty'|t }}</th><td>{{ tf.asset.bad }}</td>
    </tr>
  {% else %}
    <tr>
      <th>{{ 'equipment.flex_id'|t }}</th><td>{{ tf.asset.flex_id }}</td>
    </tr>
    <tr>
      <th>{{ 'sn'|t }}</th><td>{{ tf.asset.sn }}</td>
    </tr>
    <tr>
      <th>{{ 'equipment.fixed_id'|t }}</th><td>{{ tf.asset.fixed_id }}</td>
    </tr>
    <tr>
      <th>{{ 'name'|t }}</th><td>{{ tf.name }}</td>
    </tr>
    <tr>
      <th>{{ 'model'|t }}</th><td>{{ tf.asset.model }}</td>
    </tr>
    <tr>
      <th>{{ 'status'|t }}</th>
      <td>
        {% if tf.asset.is_good %}
          {{ 'good'|t }}
        {% else %}
          {{ 'bad'|t }}
        {% endif %}
      </td>
    </tr>
  {% endif %}
  <tr>
    <th>{{ 'remark'|t }}</th><td>{{ tf.remark }}</td>
  </tr>
  {{ table_footer() }}
{% endblock %}