{% extends 'layout.html' %}
{% from 'iorecords/_helper.html' import render_links %}

{% block title %}
  {{ '.iohistory'|t }}
{% endblock %}

{% block body %}
  <div class="alert alert-info">
    {{ 'only_what_user_can_manage_this_page'|t(user='users.store_user'|t)|safe }}
  </div>
  {{ render_links(g, kind=kind) }}
  <p>
    <form method="get">
      <input id="kind" name="kind" type="hidden" value="{{ kind }}">
      <table width="100%">
        <tr>
          <th>{{ 'department'|t }}</th><td>{{ form.department() }}</td>
          <th>{{ 'project'|t }}</th><td>{{ form.project() }}</td>
          <th>{{ 'keyword'|t }}</th><td>{{ form.word(placeholder='spareparts.name_or_code'|t) }}</td>
        </tr>
        <tr>
          <th>{{ 'start_date'|t }}</th><td>{{ form.start_date(placeholder='1970-01-01') }}</td>
          <th>{{ 'end_date'|t }}</th><td>{{ form.end_date(placeholder='2012-12-29') }}</td>
          <td colspan="2">
            <button class="btn btn-primary" type="submit" id="query-btn">{{ 'query'|t }}</button>
            <button class="btn btn-danger" type="reset" id="query-reset-btn">{{ 'reset'|t }}</button>
          </td>
        </tr>
      </table>
    </form>
  </p>
  {% if ios.count %}
    {{ ios.pagination.info|safe }}
    {{ ios.pagination.links|safe }}
    {{ table_header(['.keyid', 'date', '.direction', '.from_to', 'qty', 'other']) }}
    {% for io in ios %}
      <tr>
        <td>{{ loop.index + ios.skip }}</td>
        <td>
          {% if keyword or word %}
            <strong>{{ io.keyid|hl_query(keyword or word)|safe }}</strong>
          {% else %}
            {{ span_label(io.keyid, 'info') }}
          {% endif %}
          <br />
          {{ io.name|hl_query(keyword or word)|safe }}<br />
          {% if io.is_sparepart %}
            {{ io.asset.pn }}
          {% else %}
            {{ io.asset.model }}
          {% endif %}
        </td>
        <td>{{ io.date }}<br />{{ io.time }}</td>
        <td>
          {% if io.is_out %}
            {{ span_label('.out_store'|t, 'important') }}
          {% else %}
            {{ span_label('.into_store'|t, 'success') }}
          {% endif %}
        </td>
        <td>
          {{ io.from_user }}({{ io.from_uid }}) -> {{ io.to_user }}({{ io.to_uid }})
          <br />
          {% if io.is_out %}
            (<strong>{{ io.to_location }}</strong>)
          {% elif not io.is_sparepart %}
            (<strong>{{ io.asset.back_to }}</strong>)
          {% endif %}
        </td>
        <td>
          {% if io.is_sparepart %}
            {{ span_badge(io.good_qty, 'success') }} -
            {{ span_badge(io.bad_qty, 'important') }}
          {% elif io.asset.iogood %}
            {{ span_badge(1, 'success') }}
          {% else %}
            {{ span_badge(1, 'important') }}
          {% endif %}
        </td>
        <td>{{ primary_link(url_for('.show', id=io.id, kind=kind), text='details') }}</td>
      </tr>
    {% endfor %}
    {{ table_footer() }}
    {{ ios.pagination.links|safe }}
  {% endif %}
{% endblock %}

{% block js %}
  {{ js_date(['start_date', 'end_date']) }}
  {{ query_reset_click(request, ids=(('department', 'project', 'word', 'start_date', 'end_date'))) }}
{% endblock %}